@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
/* BASIC STYLING */
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue:hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 51%, 64%);
  
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color:var(--white);

  font-size: 40px;
  letter-spacing: 5px;
  padding: 30px 30px;
}

h2 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 30px;
  padding: 10px 0;
}

h3 {
  color:var(--grayish-blue);
  font-family: 'Barlow', sans-serif;
}

p {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  color: var(--very-dark-grayish-blue);
  line-height: 20px;
  padding: 10px 0;
}

a {
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* COMPONENTS */
/* Heading + title */

.title-container {
  background-position: bottom center;
  background-size: cover;

  padding-bottom:250px;

  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

nav {
  display: flex;
}

/* Sections */
.main-sections {
  display: grid;
}

.transform-container, .stand-out-container {
  padding: 10px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-sections img {
  height: 100%;
}

.main-sections a {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
  
  padding: 10px 0;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.transform-container a {
  text-decoration-color: var(--yellow);
}

.stand-out-container a {
  text-decoration-color: var(--soft-red);
}

.stand-out-image-container, .transform-image-container {
  background-size: cover;
}

.graphic-design-container, .photography-container {
  padding: 50% 20% 5% 20%;
  background-size: cover;
  text-align: center;
}

.graphic-design-container h2, .graphic-design-container p {
  color: var(--dark-desaturated-cyan);
}

.photography-container h2, .photography-container p {
  color: var(--dark-blue);
}

.lower-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Client Testimonials */
.client-testimonials {
  text-align: center;
  padding: 100px;
}

.all-testimonial-container {
  display: flex;
  gap: 50px;
}

.client-testimonials h2:first-child {
  color:var(--grayish-blue);
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.client-testimonials h2 {
  font-size: 16px;
}

.client-testimonials img {
  border-radius: 50%;
  width: 20%;
}

/* Footer */
footer {
  background-color:var(--dark-moderate-cyan);
  text-align: center;
  align-items: center;
  padding: 50px 30px 30px 30px;
}

footer a {
  color: var(--dark-desaturated-cyan);
  padding: 15px;
  font-size: 15px;
}

footer path {
  fill: var(--dark-desaturated-cyan);
}

.links {
  padding-top: 30px;
}

.social-media {
  padding-top: 50px;
  padding-bottom: 20px;
}

.social-media img {
  padding: 10px;
}

@media (max-width: 704px) {
  .desktop {
    display: none;
  }

  .outer-triangle-div {
    position: absolute;
    margin-top: 50px;
    width: 80%;
    height: 50px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: right;
  }

  .triangle-div {
    width: 50px;
    height: 50px;

    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, white 50%, white 100%);
  }

  nav {
    position: absolute;
    flex-direction: column;
    background-color: white;
    gap: 10px;
    padding: 30px 30px;
    margin-top: 100px;
    width: 80%;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    align-items: center;
  }

  .mobile-nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .title-container a {
    color: var(--dark-grayish-blue);

    font-size: 20px;
    padding: 20px;
    width: 60%;
  }

  .title-container a:nth-child(4) {
    background-color: var(--yellow);
    color: var(--very-dark-desaturated-blue);
    border-radius: 30px;
    font-family: 'Fraunces', serif;
  }

  .title-container {
    background-image: url("images/mobile/image-header.jpg");
  }

  .main-sections {
    text-align: center;
  }

  .transform-image-container {
    grid-row-start: 1;
  }

  .transform-container, .stand-out-container {
    padding: 50px;
  }

  .graphic-design-container {
    background-image: url("images/mobile/image-graphic-design.jpg");
    padding-top: 350px;
  }

  .photography-container {
    background-image: url("images/mobile/image-photography.jpg");
    padding-top: 350px;
  }

  .all-testimonial-container {
    flex-direction: column;
  }

  .lower-images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 705px) {
  .mobile {
    display: none;
  }
  
  .title-container {
    background-image: url("images/desktop/image-header.jpg");
  }

  .title-container a {
    color: var(--white);
  }

  .main-sections {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  .transform-image-container {
    background-image: url("images/desktop/image-transform.jpg");
  }

  .stand-out-image-container {
    background-image: url("images/desktop/image-stand-out.jpg");
  }

  .graphic-design-container {
    background-image: url("images/desktop/image-graphic-design.jpg");
  }

  .photography-container {
    background-image: url("images/desktop/image-photography.jpg");
  }
}