@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
/* BASIC STYLING */
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue:hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color:var(--white);

  font-size: 40px;
  letter-spacing: 5px;
  padding: 30px 30px;
}

h2 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

h3 {
  color:var(--grayish-blue);
  font-family: 'Barlow', sans-serif;
}

p {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  color: var(--very-dark-grayish-blue);
}

a {
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* COMPONENTS */
/* Heading + title */

.title-container {
  background-image: url("images/desktop/image-header.jpg");
  background-position: bottom center;
  background-size: cover;

  padding-bottom:250px;

  text-align: center;
}

.title-container a {
  color: var(--white);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

/* Sections */
.main-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}

.transform-container {
  grid-row-start: 1;
}

.transform-container, .stand-out-container {
  padding: 10px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-sections a {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
}

.graphic-design-container {
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-size: cover;
  text-align: center;

  padding: 50% 20% 0 20%;
}

.photography-container {
  background-image: url("images/desktop/image-photography.jpg");
  background-size: cover;
  text-align: center;
  
  padding: 50% 20% 0 20%;
}

.lower-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Client Testimonials */
.client-testimonials {
  text-align: center;
  padding: 80px;
}

.all-testimonial-container {
  display: flex;
}

.client-testimonials h2:first-child {
  color:var(--grayish-blue);
  letter-spacing: 5px;
}

.client-testimonials img {
  border-radius: 50%;
}

/* Footer */
footer {
  background-color:var(--dark-moderate-cyan);
  text-align: center;
  align-items: center;
  padding: 30px;
}

footer a {
  color: var(--dark-desaturated-cyan);
}